body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u2 {
    position:absolute;
    left:180px;
    top:10px;
    width:70px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:180px;
    top:250px;
    width:300px;
    height:100px;
    ;
    background-color:#FFFFF0;;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:20px;
    top:130px;
    width:140px;
    height:250px;
    ;
    background-color:#FFFFF0;;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:180px;
    top:221px;
    width:70px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_selected {
    background-image: url('../首页_files/u8_selected.png');
}

.u8_original {
    background-image: url('../首页_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u10_original {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:0px;
    width:65px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u10 {
    position:absolute;
    left:22px;
    top:0px;
    width:70px;
    height:20px
}

.u13_hover {
    background-image: url('../首页_files/u13_hover.png');
}

.u13_selected {
    background-image: url('../首页_files/u13_selected.png');
}

.u13_original {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:0px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13 {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px
}

.u16_hover {
    background-image: url('../首页_files/u13_hover.png');
}

.u16_selected {
    background-image: url('../首页_files/u13_selected.png');
}

.u16_original {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:0px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16 {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px
}

.u19_hover {
    background-image: url('../首页_files/u13_hover.png');
}

.u19_selected {
    background-image: url('../首页_files/u13_selected.png');
}

.u19_original {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u20 {
    position:absolute;
    left:3px;
    top:0px;
    width:40px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u19 {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px
}

.u21 {
    position:absolute;
    left:380px;
    top:180px;
    width:100px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:265px;
    top:360px;
    width:100px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u23 {
    position:absolute;
    left:180px;
    top:40px;
    width:305px;
    height:135px
}

.u23_table {
    background-image: url('../首页_files/u23_table.png');
}

.u23_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:139px;
}

.u24_original {
    background-image: url('../首页_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u26_original {
    background-image: url('../首页_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:23px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:100px;
    top:0px;
    width:200px;
    height:23px
}

.u28_original {
    background-image: url('../首页_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:24px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:24px
}

.u30_original {
    background-image: url('../首页_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:100px;
    top:23px;
    width:200px;
    height:24px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:100px;
    top:23px;
    width:200px;
    height:24px
}

.u32_original {
    background-image: url('../首页_files/u24_original.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:47px;
    width:100px;
    height:23px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:0px;
    top:47px;
    width:100px;
    height:23px
}

.u34_original {
    background-image: url('../首页_files/u26_original.png');
}

.u34_container {
    position:absolute;
    left:100px;
    top:47px;
    width:200px;
    height:23px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:100px;
    top:47px;
    width:200px;
    height:23px
}

.u36_original {
    background-image: url('../首页_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:60px;
}

.u37 {
    position:absolute;
    left:2px;
    top:20px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:60px
}

.u38_original {
    background-image: url('../首页_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:100px;
    top:70px;
    width:200px;
    height:60px;
}

.u39 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:100px;
    top:70px;
    width:200px;
    height:60px
}

.u40 {
    position:absolute;
    left:380px;
    top:360px;
    width:100px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:20px;
    top:95px;
    width:110px;
    height:25px;
    ;
    background-color:#FFFFF0;;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
}

.u42_original {
    background-image: url('../首页_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:135px;
    top:95px;
    width:25px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:135px;
    top:95px;
    width:25px;
    height:25px
}

